html,body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  font-size:16px;
  line-height: 1.2rem;
  color: rgba(4,6,46,1);
}
::-webkit-scrollbar {
  width: .4rem;
  height: .3rem;
  background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95,95,95,.4);
  transition: all .2s;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(95,95,95, .7);
}

.body-wrap {
  min-height: calc(100vh - 260px);
}

h5,.h5 {
  font-size: 1.125rem;
}

.bas-section {
  padding-bottom: 50px;
  padding-top: 50px;
}

.section-title {
  margin-bottom: 24px;
  font-size: 32px !important;
  text-align: center;
  font-weight:500;
  line-height:60px;
  letter-spacing:1px;
}

.bas-pt-100 {
  padding-top: 70px;
}

.bas-light-gray {
  background:rgba(245,246,246,1);
}

.bas-text-red {
  color: #E55151;
}
.bas-text-warning {
  margin-top: .2rem;
  color:rgba(255,87,47,1);
  line-height:22px!important;
}

/* container */
@media (min-width: 1680px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1500px;
  }
}

/** button start */
.bas-btn-primary {
  color:#fff;
  background: rgba(0,202,155,1);
  border-radius:2px;
  user-select: none;
}

.bas-btn-primary:hover {
  color:#fff;
  background: rgba(0,202,155,.95);
}


.region-item--header button.bas-btn-primary.disabled, .region-item--header button.bas-btn-primary:disabled {
  cursor: unset;
  background:rgba(216,216,216,.9) !important;
  border-radius:4px;
  border: 0;
  color:#fff;
  font-weight: 200;
}
.el-button--primary {
  background-color:rgba(0,202,155,1);
  border-color: rgba(0,202,155,1);
}



.el-button--primary:focus,.el-button--primary:hover {
  background-color:rgba(0,202,155,1);
  border-color: rgba(0,202,155,1);
  opacity: .8;
}

.bas-btn-primary.disabled,.bas-btn-primary:disabled {
  background: #FFF;
  color: rgba(192,196,204,1);
  border-color: #EBEEF5;
}

.el-button--success.is-disabled:focus, .el-button--success.is-disabled:hover {
  background: #FFF;
  color: rgba(192,196,204,1);
  border-color: #EBEEF5;
  opacity: .85;
}

.bas-btn-grass {
  cursor: pointer;
  background: rgba(0,202,155,.1);
  color:rgba(0,202,155,1);
  border-color: rgba(0,202,155,.1);
  border-radius:2px;
  user-select: none;
}

.bas-btn-grass:hover {
  background: rgba(0,202,155,.2);
  color:rgba(0,202,155,1);
}

.bas-btn-pink {
  cursor: pointer;
  background: rgba(255,87,47,.1);
  color:rgba(255,87,47,1);
  border-radius:2px;
  user-select: none;
}

.bas-btn-pink:hover {
  color:rgba(255,87,47,1);
  background: rgba(255,87,47,.2);
}

a.bas-btn-primary:not([href]) {
  color:#fff;
}

.bas-btn-secondary {
  border: 1.5px solid rgba(0,202,155,.75);
  color: #00CA9B;
}

.bas-btn-secondary:hover {
  border: 1.5px solid rgba(0,202,155,.95);
}

.el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
  background-color: rgba(245,246,246,1);
  border-color: rgba(245,246,246,.8);
}

.bas-btn-secondary.is-disabled, .bas-btn-secondary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
  background-color: rgba(245,246,246,1);
  border-color: rgba(245,246,246,.8);
}
/**
 *
 */
.el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
  color:rgba(150,150,166,1);
}

.bas-btn-secondary.is-disabled:focus, .bas-btn-secondary.is-disabled:hover {
  background-color: rgba(245,246,246,1);
}

.bas-btn-orange {
  color:#fff;
  background:rgba(255,174,47,1);
}

.bas-btn-green-border {
  cursor: pointer;
  color: rgba(0,202,155,.95);
  border:2px solid rgba(0,202,155,1);
  border-radius: 2px;
}

.bas-btn-green-border:hover {
  color: rgba(0,202,155,1);
  font-weight:400;
}
.bas-btn-switch {
  color:rgba(146,146,163,1);
  background: rgba(245,246,246,.8);
  border-radius: 2px;
  transition: 50ms ease-in-out;
}

button.bas-btn-switch:hover {

  color:rgba(255,255,255,1);
  background: rgba(0,202,155,.95);
}

.el-tabs__item.is-active {
  color:rgba(0,202,155,1);
}

.el-tabs__active-bar {
  background-color:rgba(0,202,155,1);
}

.bas-gray-bg .bas-btn-switch {
  color:rgba(146,146,163,1);
  background: #fff;
  border-radius: 2px;
}
button.bas-btn-switch.active,.bas-gray-bg button.bas-btn-switch.active {
  color:rgba(255,255,255,1);
  background: rgba(0,202,155,1);
}

.bas-btn-group {
  display: inline-flex;
  justify-content: center;
  margin: 1rem auto;
}

.bas-btn-group button:disabled {
  color: rgba(212,216,216,1);
  border-color:  rgba(212,216,216,1);
}

.bas-btns-between {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.bas-w-40 {
  width: 40%;
}

.bas-w-20 {
  width: 20%;
}

.bas-w-30 {
  width: 30%;
}

.bas-w-60 {
  width: 60%;
}

.bas-w-65 {
  width: 65%;
}

.bas-w-68 {
  width: 68%;
}

.bas-w-70 {
  width: 70%;
}

.bas-w-80 {
  width: 80%;
}

.bas-dot {
  font-size:12px;
  border-radius: 16px;
  color: rgba(0,202,155,1);
  background-color:rgba(0,202,155,.15);
  box-shadow: 4px,4px;

}

.bas-unit {
  font-weight: 500;
  margin: auto .2rem;
}

/*  */
.float-table-total {
  position: absolute;
  height: 100%;
  float: right;
  top: 0px;
  right: 1rem;
  display: inline-flex;
  align-items: center;
  font-size:14px;
}
.float-table-total span {
  margin: auto .75rem;
}

.float-table-total i.fa {
  cursor: pointer;
  opacity: .85;
}

.float-table-total i.fa:focus,.float-table-total i.fa:hover {
  font-weight: 500;
  opacity: 1;
}

/** button end */
.el-button--success {
  color: #FFF;
  background-color: rgba(0,202,155,1);
  border-color:rgba(0,202,155,1);
}
.el-button--success:active,.el-button--success:hover,.el-button--success:focus {
  background:rgba(0,202,155,.75);
  user-select: none!important;
  -webkit-user-select: none !important;
}


button {
  outline: none !important;
}
.bas-text-green {
  color: #00CA9B;
}

.bas-link,a.bas-link {
  cursor: pointer;
  color: #00CA9B;
}

button.bas-link {
  user-select: none;
  cursor: pointer;
  color: #00CA9B;
}

a.bas-disabled{
  cursor: not-allowed !important;
  color: rgba(150,150,166,.75);
  text-decoration:none !important;
}

a.bas-disabled:hover,.bas-disabled:hover {
  color: rgba(150,150,166,1) !important;
  text-decoration:none !important;
}

.bas-link:hover,a.bas-link:hover {
  color: #00CA9B ;
  text-decoration:underline;
}

button.bas-link:disabled,button.bas-link .disabled{
  cursor: none;
  color: #00CA9B ;
  text-decoration:none !important;
}

.bas-btn-link {
  cursor: pointer;
  color: #00CA9B;
  background: transparent;
  box-shadow: none;
  border: none;
}
.bas-btn-link:hover,.bas-btn-link:focus,.bas-btn-link:active {
  text-decoration:underline;
}

.bas-btn-link:disabled {
  color: rgba(212,216,216,1);
  text-decoration:none;
}

.bas-inline-flex {
  display: inline-flex;
  width: 100%;
}
.bas-label-100 {
  min-width: 100px;
  text-align: right;
  margin-bottom: .5rem;
}

a.bas-text-green {
  cursor: pointer;
  color: #00CA9B;
}
a.bas-text-green:hover,a.bas-text-green:active {
  color: rgba(0,202,155,.85);
  font-weight: 400;
}


.bas-text-primary {
  color:#04062E;
}

img.bas-bingo {
  height: 88px;
  width: 88px;
}

.bas-form-label {
  margin-left:1.5rem;
  font-size:1rem;
}
/* Font Css */
.bas-small {
  font-size: 14px;
}

.bas-nav-left226 {
  width: 226px;
}

.bas-form-label::after{
  content: ":"
}


.bas-green-bg {
  background-color:rgba(0,202,155,1);
}

.bas-gray-bg {
  background: rgba(245,246,246,1);
}

.bas-white-bg {
  background-color: rgba(255,255,255,1);
}

.bas-market-title {
  font-size: 2.25rem;
  text-align: center;
  line-height: 50px;
}

/*  card */
.bas-card {
  margin: 0 !important ;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  transition: .3s;
}
.bas-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  border-radius: 5px 5px 0 0;
}
.bas-card__header-title {
  padding-left: 1.375rem;
  font-size: 1.375rem;
}
.bas-border-none {
  border: none !important;
}
.bas-card__tools {
  margin-right: .5rem;
}

.bas-card__body {
  padding: 10px;
  border-left: 1px solid  rgba(235,237,237,1);
  border-right: 1px solid  rgba(235,237,237,1);
  border-bottom: 1px solid  rgba(235,237,237,1);
}

.bas-card__body--last-radius {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px ;
}

.bas-card__footer {
  display: flex;
  direction: row;
  justify-content:center;
  align-items: center;
  height: 62px;
  margin-bottom: 3rem;
  border-radius: 5px 5px 0 0;
}

/** row-card-item  start */
.bas-card-item {
  width: 100%;
  margin: .5rem 0 !important;
  background:rgba(245,246,246,1);
  border: 1px solid rgba(245,246,246,1);
}

.bas-card-item__header {
  width: 100%;
  padding: .5rem ;
  display: inline-flex;
  direction: lrt;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(235,237,237,1)
}

.bas-card-item__body {
  width: 100%;
  padding: .5rem ;
  display: inline-flex;
  direction: lrt;
  justify-content: space-between;
  align-items: center;
}

.bas-card-item__header-rt {
  margin: 0 .5rem;
  padding: 0 .5rem;
}

.bas-card-item__header-rt>span {
  min-width:80px;
  margin-right: .25rem;
}

/** row-card-item  end */

.el-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0!important;
}

/* bas menu nav */
.bas-el-menu-item {
  text-align: center;
}
.bas-el-menu-item.is-active {
  background:rgba(0,202,155,1);
  border:1px solid rgba(0,202,155,0.3);
}

/**
 基于 element UI 扩展 el-form 用作显示面板
 see '@/view/Domain/components/RegistTransFooter.vue'
*/
.bas-el-item>label.el-form-item__label {
  line-height: 1.5rem;
}
.bas-el-item {
  margin-bottom: 0 !important;
  line-height: 1.5rem;
}

.bas-el-item> *.el-form-item__content {
  line-height: 1.25rem !important;
}

/* 基于 element UI 扩展 el-form 用作显示面板 */

/* BAS components */
.bas-inline-between {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.bas-inline-between>div:nth-last-child(1){
  margin-right: .5rem;
}

/* bas loading dot */
.bas-loading {
  float: left;
  text-align: center;
}

.bas-loader-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
}

.bas-loading .bas-loader-dot:nth-last-child(3) {
  margin :2px auto;
  background: rgba(255,174,47,1);
  animation: dot-down .9s .1s linear infinite;
  -webkit-animation: dot-down .9s .1s linear infinite;
}

.bas-loading .bas-loader-dot:nth-last-child(2) {
  margin :2px auto;
  background:rgba(2,184,148,1);
  animation: dot-down .9s .3s linear infinite;
  -webkit-animation: dot-down .9s .3s linear infinite;
}
.bas-loading .bas-loader-dot:nth-last-child(1) {
  margin :2px auto;
  background:rgba(242,133,82,1);
  animation: dot-down .9s .6s linear infinite;
  -webkit-animation: dot-down .9s .6s linear infinite;
}

.bas-dialog-between{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes dot-down {
  25% {-webkit-transform: translateY(-6px);}
  0%, 50% , 100% { -webkit-transform: translateY(0)}
  75% {-webkit-transform: translateY(6px);}
}
@-webkit-keyframes dot-down {
  25% {-webkit-transform: translateY(-6px)}
  0%, 50% , 100% { -webkit-transform: translateY(0)}
  75% {-webkit-transform: translateY(6px)}
}


/* BAS dialog css begin */
.bas-eldialog-body {
  width: 100%;
  display: inline-flex;
  direction: row;
  justify-content: space-around;
  align-items: center;
}

.bas-dialog__wrapper {
  z-index: 999;
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  margin: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: rgba(0,0,0,.65);
  /* z-index: 999; */
}

.bas-dialog__metamask {
  position: relative;
  background: #fff;
  margin-bottom: auto;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-sizing: border-box;
  width: 50%;
}

.bas-dialog__metamask-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.bas-dialog__metamask-header>span {
  padding: 10px auto 10px 10px;
}

.bas-dialog__close {
  margin: 4px 4px auto auto;
  cursor: pointer;
  opacity: .75;
}

.bas-dialog__close:hover{
  background: rgba(245,246,246,.75);
  opacity: 1;
}

.bas-dialog__metamask-body {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.bas-dialog__metamask-left {
  width: 100%;
  display: inline-block;
  text-align: justify;
  justify-content: flex-end;
  align-items: stretch;
}
.bas-dialog__metamask-left * {
  text-align: center;
}
.metamask-header-icon {
  cursor: pointer;
  display:block;
  width: 100px;
  height: 100%;
  text-align: center;
  align-items: center;
  color: rgba(246,140,36,1);
  padding: 4px;
  border-radius: 5px;
  background:rgba(245,246,246,1);
}
.metamask-icon {
  width: 60px;
}

.bas-dialog__metamask-footer {
  width: 100%;
  /* height: 30px; */
  display: inline-flex;
  justify-content: center;
  justify-items: center;
  margin: 6px auto;
}

.metamask-login-btn {
  cursor: pointer;
  min-width: 25%;
  line-height: 40px;
  text-align: center;
  align-items: center;
  color: #fff!important;
  background:rgba(4,6,46,.75);
  border-radius:4px;
  box-shadow: none;
  box-sizing:content-box;
}

.metamask-login-btn:hover {
    background:rgba(4,6,46,.95);
}

/* bas regist-result */
.domain-regist--result-refs {
  width: 100%;
  display: inline-flex;
  align-items: stretch;
  background:rgba(255,255,255,1);
  border-radius:1px;
  border:1px solid rgba(235,237,237,1);
  justify-content: space-between;
  padding: .5rem 0 0 .5rem;
}

.result-refs-left {
  width: 75%;
}

.result-refs-right {
  display: inline-flex;
  align-items: center;
  border: none;
  background: transparent;
  align-self: flex-end;
  padding: .5rem .25rem;
}
.result-refs-right * {
  margin-right: 1rem;
  padding: .25rem 1.25rem;
}

.domain-info-inline {
  display: inline-flex;
  margin-bottom: .5rem;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.domain-info-type {
  margin-left: 1.5rem;
  color: #00CA9B;
  border-radius: .9rem;
  border: 1px solid #00CA9B;
  line-height: 1.5rem;
  font-size:14px;
  /* width:140px; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.domain-info-type span{
  margin: auto 1.25rem;
}
.bas-info-label {
  color:rgba(150,150,166,1);
}
.bas-info-label:after {
  content: ':';
  margin-right: .5rem;
}
.bas-info-text  {
  margin-left: .5rem;
}
.bas-refs-header {
  width: 100%;
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
}
.bas-link-settings{
  margin-left: 1rem;
}

.bas-domain--setprice-tip {
  color:rgba(255,87,47,1);
  background:rgba(255,87,47,0.1);
  border-radius:2px;
  padding: .325rem;
}
.bas-domain--setprice-tip > span {
  color:rgba(255,87,47,1);
}



/* Home Carousel */
  .index-carousel-wrap {
    background-color: black;
  }

  .el-carousel__container {
    width:100vw;
  }

  .el-carousel__item {
    background-color:rgba(4,6,46,1);
  }


  .header-carousel {
    width:100%;
    height: 100%;
  }
  .bas-carousel--inner {
    width: 100vw;
    height: 100%;
  }


/* Home new protocol */
.bas-home--seenew--twobox {
  width: 100%;
  min-height: 160px;
  display: inline-flex;
  direction: ltr;
  align-items: center;
  background:rgba(245,246,246,1);
  border:1px solid rgba(235,237,237,1);
}

.bas-home--seenew--twobox> img {
  margin: 1.25rem .75rem 2.5rem .5rem;
}


.home-see-news {
  height: 412px;
}



.home-prod-rect {
  padding: 8px 0;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px;
  min-height: 150px;
  width: 100%;
  margin-bottom: .75rem;
  border-radius:16px;
  border:1px solid rgba(245,246,246,1);
}

.prod-rect-bg-0 {
  background:rgba(0,179,202,.1);
}

.prod-rect-bg-1 {
  background:rgba(0,99,202,.1);
}

.prod-rect-bg-2 {
  background:rgba(229,232,250,1);
}

.home-prod-icon {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 84px;
  height: 84px;
}
.home-prod-rect--right {
  align-self: center;
}

/* BAS ISSUE */
.bas-collapse>div {
  background:#fff;
}
.bas-collapse-item {
  padding: .25rem;
  background:rgba(245,246,246,1);
  border:1px solid rgba(245,246,246,1);
}

.bas-collapse-item div:not[role="tab"]{
  background:rgba(249,252,252,1);
  padding-left:6px;
}
.bas-collapse-item div[role="tab"]{
  background:rgba(245,246,246,1);
  border-bottom: 1px solid rgba(245,246,246,1);
}
.bas-issue-section {
  padding: 10 10 10 10;
}

.bas-issue-section * {
  margin: 1.2rem auto;
}

/* Topbar */
.header-wrap {
  height: 68px;
  width: 100vw;
}

.header-logo {
  margin: 0 !important;
  width: 168px;
}

.top-menu-black {
  font-size:16px;
  font-weight:300;
  color:rgba(255,255,255,1) !important;
  line-height:22px;
  letter-spacing:1px;
}

.top-menu {
  font-size:16px;
  font-weight:300;
  color:rgba(4,6,46,1) !important;
  line-height:22px;
  letter-spacing:1px;
}

.header-warp-black {
  background-color: rgba(4,6,46,.5);
}

.header-warp-white {
  background-color: rgba(255,255,255,.9);
  transition-property:all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  /* transition-delay: 0s;
  box-shadow: 0 1px 1px 0 rgba(196,196,196,0.5); */
}

.active .top-menu {
  color: #00CA9B !important;
  font-weight:300;
  border-bottom:2px solid rgba(0,202,155,1);
}

.bas-i18n-select-top {
  width: 100px;
  user-select: none;
  background: transparent;

}
.bas-i18n-select-top div {
  background: transparent;
  border: none;
}
.bas-i18n-select-top input {
  text-align: right;
  background: transparent;
  border: none;
}

.header-warp-black .bas-i18n-select-top input{
  color:#fff;
}


.bas-region-item p{
  margin: auto;
}
.bas-region-item {
  width: 100%;
  display: block;
  border: .1rem solid rgba(255,255,255,.5);
  margin: 24px 0;
  padding: .5rem;
  padding-bottom: 0px;
  background: rgba(255,255,255,.75);
  box-shadow: rgba(255,255,255,.75);
}

.bas-region-item .region-item--header {
  width: 100%;
  min-height: 80px;
  display: inline-flex;
  direction: row;
  justify-content: space-between;
  align-items:baseline;
}

.bas-region-item .region-item--footer {
  width: 100%;
  margin: .25rem auto;
  display: inline-flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
}

.bas-unit-price {
  font-size: 1.5rem;
  font-weight:500;
}

.bas-unit-price.year::after {
  margin-left:.25rem;
  font-weight: 300;
  font-size: 14px;
  content: "BAS/Year";
}

.bas-unit-price.sell {
  color:rgba(153,153,169,1);
  font-size: 1.5rem;
  font-weight:300;
}

.sell-label {
  margin-right:.25rem;
  color:rgba(153,153,169,1);
  font-weight: 300;
  font-size: 16px;
}

.bas-unit-price.sell::after {
  margin-left:.25rem;
  color:rgba(153,153,169,1);
  font-weight: 300;
  font-size: 16px;
  content: "BAS";
}

.region-item--footer .bas-whois {
  cursor: pointer;
  color: rgba(0,202,155,.95);
  font-weight: 500;
  font-size: 1.2rem;
}

.region-item--footer .bas-whois:focus,.region-item--footer .bas-whois:hover {
  color: rgba(0,202,155,1);
  font-weight: 600;
  font-size: 1.22rem;
}

.region-item--footer .bas-whois::after {
  content: " >>";
}


.help-collapse-list div.card {
  border: none;
  border-top: 1px solid #ebeef5;
}

.help-collapse-list div.card:nth-last-child(1) {
  border-bottom: 1px solid #ebeef5;
}

.help-collapse-list div.card-body {
  padding: .75rem;
}
.help-collapse-list h4 {
  font-size: 1.25rem;
}

.help-collapse-list p {
  text-indent: 2em;
  line-height: 1.25rem;
}

.help-collapse-list i.fa {
  cursor: pointer;
  font-weight: 100;
  font-size:12px;
}
.help-collapse-list div.help-collapse--header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255,255,255,.03);
  border: none;
  margin: .25rem 0;
  padding: 0 .5rem;
}

/* Alert Notify */
.el-notification__title {
  color:rgba(255,255,255,1);
}

.el-notification__content {
  color:rgba(255,255,255,1);
}

.el-notification__closeBtn {
  color:rgba(255,255,255,1);
}

.notification-network-ropsten {
  color:rgba(255,255,255,1);
  border: none;
  background:linear-gradient(214deg,rgba(57,245,135,1) 0%,rgba(0,202,155,1) 100%,rgba(0,202,155,1) 100%);
}

.notification-network-ropsten h2.el-notification__title{
  color:rgba(255,255,255,1);
}

.notification-network-mainnet {
  color:rgba(255,255,255,1);
  border: none;
  background:linear-gradient(217deg,rgba(121,23,211,1) 0%,rgba(3,98,195,1) 100%);
}

.notification-network-mainnet h2.el-notification__title{
  color:rgba(255,255,255,1);
}



.notification-network-unsupport {
  color:rgba(255,255,255,1);
  background:linear-gradient(217deg,rgba(121,23,211,1) 0%,rgba(3,98,195,1) 100%);
}
.notification-network-unsupport h2.el-notification__title {
  color:rgba(255,255,255,1);
}

i.dot-mainnet {
  color: rgba(255, 182, 49, 1);
  font-size: 12px;
  margin-right: .25rem;
}

i.dot-ropsten {
  background-color:rgb(233, 21, 80) none repeat scroll 0% 0%;
  color: rgba(233, 21, 80,.7);
  font-size: 12px;
  margin-right: .25rem;
}

i.dot-unsupport {
  color: rgba(233, 21, 80,1);
  font-size: 12px;
  margin-right: .25rem;
}



span.domain-type-tager {
    padding: 4px 1rem;
    color: #00ca9b;
    margin-left: .5rem;
    border-radius: 1rem;
    border: 1px solid #00ca9b;
}

.dns-demo-wrapper {
  display: inline-flex;
  direction: column;
  background:rgba(0,202,155,.1);
  color: rgba(0,202,155,1);
  border-radius:2px;
  justify-content: flex-start;
  align-items: center;
}


/** Help Styles */
.help-outline-6 {
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(4,6,46,1);
  line-height:22px;
}


/** wrapper box */
.bas-grass-box {
  background-color: rgba(0,202,155,.1);
  color: rgba(0,202,155,1);
}

.bas-warn-box {
  background:rgba(255,87,47,.1);
  color:rgba(255,87,47,1);
}

.el-button--success.is-disabled, .el-button--success.is-disabled:active, .el-button--success.is-disabled:focus, .el-button--success.is-disabled:hover {
    color: #C0C4CC;
    background-color: #EBEEF5;
    border-color: #EBEEF5;
}


/** bas-dialog */
.bas-dialog div.el-dialog__header {
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 4px;
}

.bas-dialog .el-dialog__headerbtn{
  top:13px;
  right: 12px;
  font-size:22px;
}

.bas-dialog div.el-dialog__body{
  padding: 24px;
  padding-top: 12px;
}
.bas-dg-header .title span {
  font-size:20px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(4,6,46,1);
  line-height:28px;
  letter-spacing:1px;
}

.bas-dg-header .title span.title-domain{
  color:rgba(0,202,155,1);
}

.bas-dg-header .sub-title span {
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(150,150,166,1);
  line-height:20px;
}
.bas-dg-body {
  border-collapse: collapse;
}

.bas-dg-body div:not(:last-child) {
  margin-bottom: 12px;
}


/** Recharge Select Dialog Rect Style */
.recharge-year-box {
  cursor: pointer;
  width: 100%;
  height: 106px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background:rgba(245,246,246,1);
  border-radius:4px;
  border:1px solid rgba(243,245,245,1);
}

.recharge-year-box:hover {
  background:rgba(0,231,185,.15);
}

.box-selected {
  background:linear-gradient(270deg,rgba(0,231,185,1) 0%,rgba(0,202,155,1) 100%);
}

.recharge-year-box.box-selected:hover{
  background:linear-gradient(270deg,rgba(0,231,185,1) 0%,rgba(0,202,155,1) 100%);
}

.recharge-year-box span {
  font-size:20px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  line-height:28px;
  letter-spacing:1px;
}

.recharge-year-box span.bas-unit {
  font-size:36px;
  font-family:Lato-Bold,Lato;
  font-weight:bold;
  line-height:44px;
  letter-spacing:1px;
}

.recharge-year-box span.bas-unit::after {
  content: 'BAS';
  font-size:14px;
  font-family:Lato-Regular,Lato;
  font-weight:400;
  line-height:17px;
}


.box-selected span{
  color:rgba(255,255,255,1);
}

.recharge-year-box>div.inner-box {
  width: 100%;
  display: inline-flexbox;
  text-align: center;
  vertical-align: middle;
}

div.inner-box>div {
  width: 100%;
}
.recharge-tips {
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.recharge-more-toggle {
  cursor: pointer;
}
